#filter-title{
    font-size: 2.5em;
	display: block;
	padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;
}

#filter-table{
    max-width: inherit;
    width: 100%;
    padding-top: 0.5em;
}

.filter-row{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-top: 1.5em;
}

#clear-filter{
    margin-top:1em;
    margin-bottom:1em;
}

.invisible{
    display:none;
}

.pressed{
    background-color: lightcoral;
}

.filter_button{
    outline:none;
    width: 90%;
}

.filterTd{
    width: 8em;
}

.filterInput{
    width: 100%;
    margin-bottom: 0.5em;
}

.filterLineTitle{
    padding-right: 0.5em;
}