
#history-table{
    font-size: 1.2em;
    border: 1px double #ccc;
}

#history_header_numbers{
    min-width: 3em;
}

#history_last_change{
    min-width: 20em;
    column-span: 2;
    padding: 0.5em 0;
}

#history-thead{
    background-color: #A4A4A4;
}

.odd{
    background-color: #D3D3D3;
}

.even{
    background-color: white;
}

#history_last_change{
    border: 1px double #ccc;
    text-align: center;
}

#history-undo{
    margin-top: 5em;
    margin-bottom: -1em;
}

.history_position{
    border: 1px double #ccc;
    text-align: center;
    padding: 0.5em 1em;
}

.history_change{
    border: 1px double #ccc;
    padding: 0em 1em;
}



